.comment-form{
    margin: 10px;
    font-size: $font-size-h5;
    .ui-status.ideal {
        display: block;
        padding: 5px 10px;
        .form-control-group{
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            input, textarea {
                width: 65%;
            }

            @include if-tablet-portrait {
                width: calc(50% - 10px);
                float: left;
                margin-right: 10px;
            }
        }
    }
    
    .ui-status {

        &.error {
            text-align: center;
            background-color: red;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            display: none;
        }

        &.loading {
            text-align: center;
            margin-bottom: 10px;
            display: none;
        }

    }

    &.error .ui-status.error {display: block;}
    &.loading .ui-status.loading {display: block;}

}