
.web-header {
    box-sizing: border-box;
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: $bg-secondary-color;
    width: 100%;
}

.web-title {
    float: left;
    font-size: $font-size-h2;
    color: $titles-color;
    font-family: $titles-font-family;
}

.header-actions {
    line-height: $font-size-h2;
    float: right;
    .sign-in{
        font-size: $font-size-h6;
        color: $titles-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .search{
        padding: 5px;
        color: $titles-color;
        font-size: $font-size-h4;
    }
}

.search-box, .sign-box {
    display: none;

    #search, #username, #password {
        border: none;
        border-bottom: 1px solid $titles-color;
        background: none;
        font-size: $font-size-h4;
        color: $titles-color;
        font-family: $main-font-family;
        padding-top: 10px;
        width: 100%;
        &::placeholder {
            color: $titles-color;
        }
        &:focus {
            outline: none;
        }
    }

    .forgot-password, .register {
        font-size: $font-size-h6;
        color: $titles-color;
        text-decoration: none;
        display: inline-block;
        line-height: $font-size-h4;
        &:hover {
            text-decoration: underline;
        }
    }

    @include if-tablet-portrait {
        text-align: center;

        #username, #password {
            width: 40%;
            margin: 0 10px;
        }

        #search {
            width: 50%;
            margin-left: calc(50% - 60px);
        }

        .forgot-password, .register {
            float: right;
            margin: 0 10px;
        }
    }
}

.search-group {
    position: relative;
}

.sign-group {
    @extend .search-group;
    text-align: center;
}

.sign-submit {
    border: none;
    background: none;
    color: $titles-color;
    font-size: $font-size-h4;
    margin: 10px 0;
}

.search-submit {
    @extend .sign-submit;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 5px;
}

.nav-bar {
    position: fixed;
    left: -$nav-menu-width;
    top: 0;
    background: $bg-secondary-color;
    width: $nav-menu-width;
    height: 100%;
    margin-left: -15px;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    &.show-menu {
        transform: translate3d($nav-menu-width,0,0);
    }
    h4 {
        font-size: $font-size-h4;
        color: $titles-color;
        font-weight: bold;
        margin: 18px 8px 8px 23px;
    }
    @include if-tablet-portrait {
        left: -$nav-menu-width - 100px;
        width: $nav-menu-width + 100px;
        margin-left: -22px;
        h4 {
            font-size: $font-size-h3;
            margin: 20px 8px 18px 35px;
        }
        &.show-menu {
            transform: translate3d($nav-menu-width + 100px,0,0);
        }
    }
}

.menu {
    margin: 10px 10px 10px 28px;
    li {
        margin-bottom: 8px;
        a {
            text-decoration: none;
            color: $titles-color;
            font-size: $font-size-h5;
            &:active {
                text-decoration: underline;
            }
        }
    }
    @include if-tablet-portrait {
        margin-left: 43px;
        li {
            margin-bottom: 13px;
            a {
                font-size: $font-size-h4;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.menu-button {
    @extend .sign-submit;
    margin: 0;
    float: left;
    &:focus {
        outline: none;
    }
}

.fa-bars{
    transition: all .7s cubic-bezier(0.4, 0, 0.2, 1);
}