<section class="articles-list ideal">
    <div class="ui-status empty">
        There are no articles.
    </div>
    <div class="ui-status error">
        An error has occurred while loading the articles, please try again later.
    </div>
    <div class="ui-status loading">
        <p>Loading articles...<p>
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
    <div class="ui-status ideal">
            <article class="article">
                <picture>
                    <source srcset="./img/article-sample1-s.jpg 500w, ./img/article-sample1-m.jpg 800w, ./img/article-sample1-l.jpg 1100w" media="(min-width: 768px)">
                    <img src="./img/article-sample1-s.jpg" alt="" class="article-image">
                </picture>
                <h2 class="title">Titulo1</h2>
                <p class="article-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nulla erat, vehicula eu auctor eget, tristique id metus. Aenean placerat porttitor placerat. Fusce venenatis augue turpis. Proin eu mi magna. Suspendisse pulvinar eros elit, et feugiat est dictum nec.</p>
                <div class="article-author">
                    <h5 class="author-name">Jhon Doe</h5>
                    <img src="./img/placeholder-male.png" alt="" class="author-photo">
                </div>
                <div class="extras">
                    <div class="publish-time"></div>
                    <div class="like-icon"></div>
                    <div class="article-comments"></div>
                </div>
            </article>
    </div>
</section>