<header class="web-header">
    <div class="header clearfix">
        <h1 class="web-title">Enterum</h1>
        <div class="header-actions">
            <a href="#" class="sign-in">Sign in/Register</a>
            <a href="#" class="search"><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="search-box">
        <form class="search-form" action="search">
            <div class="search-group">
                <input type="text" name="search" id="search" placeholder="Serch in Enterum...">
                <button class="search-submit" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</header>