html, body {
  height: 100%;
}

body {
    background: $bg-primary-color;
    font-family: $main-font-family;
    font-size: $font-size-base;
    color: $main-text-color;
    padding-top: 55px;
    margin: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

input, textarea {
  font-family: $main-font-family;
  &:focus {
    outline-color: $titles-color;
  }
}

textarea{
  margin-bottom: 5px;
  resize: none;
}

button{
  background: $titles-color;
  color: $bg-primary-color;
  border: none;
  padding: 10px;
  &:focus{
    outline-color: $main-text-color;
  }
}