html, body {
  overflow-x: hidden;
}

body {
    background: $bg-primary-color;
    font-family: $main-font-family;
    font-size: $font-size-base;
    color: $main-text-color;
    padding-top: 55px;
    margin: 0;
    max-width: 1200px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}